<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".unitTesting.CoroutineTestActivity"></activity>
        <activity android:name=".workmanager.WorkManagerActivity"></activity>
        <activity android:name=".room.RoomDBActivity" />
        <activity android:name=".flows.FlowRealTimeActivity" />
        <activity android:name=".flows.FlowActivity" />
        <activity android:name=".livedata.LiveDataActivity" />
        <activity android:name=".structured.StructuredConcurrencyActivity" />
        <activity android:name=".scopes.GlobalScopeActivity" />
        <activity android:name=".basic.BasicsActivity" />
        <activity android:name=".CallBackActivity" />
        <activity android:name=".scopes.ScopeSecondActivity" />
        <activity android:name=".scopes.ScopeActivity" />
        <activity android:name=".parallel.ParallelActivity" />
        <activity android:name=".sequential.SequentialActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
            </intent-filter>
            -->
        </activity>
    </application>

</manifest>